<footer class="footer">
  <small>
    © 2015 Word of Mouth
  </small>
  <nav>
    <ul>
      <li><%= link_to "Terms", '/terms/show' %></li>
      <li><%= link_to "Privacy", '/privacy/show' %></li>
      <li><%= link_to "Security", '/security/show' %></li>
      <li><%= link_to "Contact", '' %></li>
      <li><%= link_to "PR/Marketing", '/press/show' %></li>
    </ul>
  </nav>
</footer>
