
<div class="row">

  <div class=".col-xs-12 col-md-12 bgimage">
    <div class="bgimage-inside"></div>

  </div>

  <div class=".col-xs-12 col-md-12 co-description">
      Here to “stimulate your mind juice”, this album is about you. It is designed to
      harmoniously combine 8 unique musicians, each playing multiple instruments, and
      integrating influences from an array of genres to deliver one unified message.
      The strength of community, self-empowerment, and action. This message is what
      inspired us to pioneer a new release strategy. We put the focus on the community
      of fans surrounding us because we believe they are the backbone. The band is only
      as successful as the fans supporting it. This knowledge has lead us to develop
      the concept of Reverse Crowdfunding. It is a way for people to be involved with
      the band and share in its prosperity.



  <div class="btn-center">
    <!--<%=link_to "Checkout", new_transaction_path, class: "button" %>-->
    <p><%= h @notice %></p>
    <%= button_to "Donate", new_donation_path, :method => :get %>
    </br>
  <a href="https://www.facebook.com/wordofmouthspeaks/?fref=ts" class="btn btn-facebook">
    <%= fa_icon 'thumbs-o-up' %> Like Us
  </a>
  <a href="https://twitter.com/womspeaks" class="btn btn-twitter">
    <%= fa_icon 'twitter' %> Follow Us
  </a>
  <a href="https://www.instagram.com/wordofmouthspeaks/" class="btn btn-instagram">
    <%= fa_icon 'instagram' %> Follow Us
  </a>
</div>
</div>
</div>
